.bash_logout
.bashrc
.conda/
.cache/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.profile
.wget-hsts
*.json

target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
